<a href="https://colab.research.google.com/github/Vihelisa/dados.Python/blob/main/DadosColetor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

vetor e quebra de string

In [1]:
DadoLinhaInteira ='15/1_11:7M1b.11P3c.46'

In [2]:

def dividir(input):
  resultado = DadoLinhaInteira.split('M')
  return resultado

In [3]:
Dado_DH = dividir(DadoLinhaInteira)[0].split('_')
Dado_TH = dividir(DadoLinhaInteira)[1].split('P')

In [4]:
Dado_DH

['15/1', '11:7']

In [5]:
Dado_TH

['1b.11', '3c.46']

In [6]:
lista_dados = [Dado_DH[0], Dado_DH[1], Dado_TH[0], Dado_TH[1]]

In [7]:
dados_dict = {
    'Data': lista_dados[0], 'Hora':lista_dados[1], 'Temperatura':lista_dados[2], 'Humidade':lista_dados[3]
    }

In [8]:
dados_dict

{'Data': '15/1', 'Hora': '11:7', 'Humidade': '3c.46', 'Temperatura': '1b.11'}

PANDAS

In [9]:
import pandas as pd 

data = [dados_dict]

df = pd.DataFrame(data)

In [10]:
df

   Data  Hora Temperatura Humidade
0  15/1  11:7       1b.11    3c.46